<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Programmeurs</title>
</head>
<body>
    <h2 class="h2">Liste des programmeurs</h2>
    <a th:href="@{/addProgrammeur}" class="btn btn-primary" style="margin-bottom: 15px;">Ajouter un programmeur</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Pseudo</th>
            <th>Responsable</th>
            <th>Hobby</th>
            <th>Année de naissance<th>
            <th>Salaire</th>
            <th>Prime</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${programmeurs.isEmpty()}">
            <td colspan="2">Aucun programmeur trouvé.</td>
        </tr>
        <tr th:each="programmeur : ${programmeurs}" th:if="${!programmeurs.isEmpty()}">
            <td><span th:text="${programmeur.id}"></span></td>
            <td><span th:text="${programmeur.prenom}"></span></td>
            <td><span th:text="${programmeur.nom}"></span></td>
            <td><span th:text="${programmeur.adresse}"></span></td>
            <td><span th:text="${programmeur.pseudo}"></span></td>
            <td><span th:text="${programmeur.responsable}"></span></td>
            <td><span th:text="${programmeur.hobby}"></span></td>
            <td><span th:text="${programmeur.annee}"></span></td>
            <td><span th:text="${programmeur.salaire}"></span></td>
            <td><span th:text="${programmeur.prime}"></span></td>
            <td><a th:href="@{/updateProgrammeur(id=${programmeur.id})}" class="btn btn-primary" style="margin-bottom: 15px;">Modifier un programmeur</a></span></td>
        </tr>
        </tbody>
    </table>
</body>
</html>